body{
    background-color: green;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p{
    text-align: center;
    font-weight: bold;
    color: white;
    font-style: italic;
}
h1{
    color:rgb(218, 218, 36) ;
}
button{
    color: green;
    text-transform:uppercase;
    background-color: rgb(218, 218, 36);
    width: 150px;
   padding: 5px 0px;
   font-weight: bold;
   border: none;
   border-radius: 2px;
   margin: 2px 0px;
}