body{
    color: #fff;
	font-family: 'Nunito Semibold';
	text-align: center;
}
#content{
    display: grid;

    grid-template-columns: repeat(3,1fr);
  
    grid-template-rows:repeat(4,minmax(140px,auto));

   grid-gap:10px;
    max-width: 960px;
    margin: 0 auto;   
    /* align-items:start ; 
    justify-items:center ; */
}
#content div{
    background: #3bbced;
	padding: 30px;    
}
#content div:nth-child(even){
    background:#777;
	padding: 30px;
}
.one{
    justify-self:end ;
    align-self: end;
}
.two{
    align-self: center;
    justify-self: end;
}
.three{
    align-self:start;
    justify-self: start;
}