body{
    margin: 0;
}
h1{
    margin:0;
    font-size:20px;
}
.container{
    background-color:aqua;
    height: 600px;
    /* by default flex takes row */
    display: flex;
    /* takes flex as column */
    /* flex-direction: column; */
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-around;
    align-items: center;
    
   
}
.box{
    flex: 1;
    height: 100px;
    border:1px solid white;
    background-color: brown;
    padding: 5px;
   
    
    /* when we give the float property it  will remove the flow and the parent styels,so use flex */

}
.one{
    order:3;
}
