*{
    font-family: verdana;
    margin: 0;
}

body{
    background: #eee;
}

.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}
.flex-container{
    display: flex; 
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    
    /* flex-wrap: wrap-reverse; */
    
}
.box{
    height: 100px;
    /* min-width:200px; */
    /* flex-grow: 1; */
    flex:0 0 200px;
    text-align: center;
    color: #eee;


    

}
.one{
    background-color: red;
    /* flex-grow: 5; */
}
.two{
    background-color: blue;
    /* flex-grow: 5; */
}
.three{
    background-color: green;
    /* flex-grow: 2; */
}
.one{order:2;}
.two{order:1;}
.three{order:0;}

