* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

/* font */
@font-face {
    font-family: cereal;
    src: url('/assets/font/latest\ \(1\).woff2');
}

@font-face {
    font-family: cereal-one;
    src: url('/assets/font/MWFFluentIcons.woff2');
}

@font-face {
    font-family: cereal-two;
    src: url('/assets/font/latest\ \(2\).woff2')
}

/* navbar */
.tablet-wrapper,
.laptop-wrapper {
    display: none;
}

nav header .header-one {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;

}

.hamburger-logo {
    display: flex;
    cursor: pointer;
}

.hamburger-logo img {
    width: 20px;
    margin-right: 20px;
    margin-left: 10px;
    height: 15px;
    /* transform: translateY(12px); */
    transform: translate(-6px, 12px);

}

.hamburger-logo h3 {
    font-family: 'cereal-two';
    font-size: 18px;
    transform: translate(-10px, 7px);


}

.ms-icon {
    transform: translate(1px, 3px);
    cursor: pointer;

}

.search-signin {
    display: flex;
    align-items: center;
    margin-right: 14px;
    cursor: pointer;
}

.search-signin img {
    width: 16px;
    font-family: 'cereal-two';
    margin-right: 28px;
    opacity: 0.7;
    transform: translate(-4px, 2px);

}

.search-signin h4 {
    font-weight: lighter;
    font-family: 'cereal';
    color: #1a1a1f;
    font-size: 14px;
    transform: translate(2px, 0px);
}

/* landing page */
.first-img {
    display: none;
}

section .main {
    background: #f3f3f3;
    padding: 0px 12px;
    /* height: 435.58px; */

}

section .landing {
    padding: 48px 0px 63px 0px;

}

section .full-content .head-text {
    text-transform: uppercase;
    color: #0078d4;
    margin: 0px 0px 16px;
    font-size: 16px;
    font-family: 'cereal-two';


}

.intro-text h1 {
    font-family: 'cereal-two';
    font-size: 29px;
    margin: 0px 0px 16px;
    height: 104.39;
    line-height: 1.2;

}

.intro-text p {
    font-family: 'cereal';
    font-size: 16px;
    margin: 0px 0px 16px;

    line-height: 1.5;
}

.link-group {
    font-family: 'cereal-two';
    font-size: 16px;
    margin: -8px 1px;
    margin-top: 35px;
    transform: translate(0px, 0px);
    display: flex;


}

.right-btn {
    padding: 7px 7px 8px -1px;
}

.left-btn {
    margin-left: 3px;
}

.link-group a {
    text-decoration: none;
}

section a.btn-primary {

    margin: 8px 24px 8px 0px;
    padding: 10px 15px;
    background: #0078d4;
    transform: translate(10px, 10px);

}
section a.btn-primary:hover{
    background-color:#737374;
}

section a.btn-primary span {
    color: #ffffff;
    font-size: 16px;
}

section a.btn-second {
    font-size: 16px;
    padding: 8px 12px;
    margin: 8px 0px;
    background: transparent;
    color: #000000;
    border: 2.2px solid #000000;
    border-radius: 2px;
}
section a.btn-second:hover{
    background-color: #7d7d81;
}

.foot-link {
    background-color: #243a5e;
    padding: 17px 25px;
    transform: translateY(1px);

}
.foot-link:hover{
    background-color: #000000;
    cursor: pointer;
}
.foot-link a {
    text-decoration: none;
}
.foot-link a:hover {
    text-decoration:underline;
    color:#0062ad;
    
}

.foot-link a span {
    color: #50e6ff;
    font-family: 'cereal-two';
    font-size: 16px;
    padding: 0px 27px 0px 0px;
    line-height: 24px;

}
.foot-link a span:hover {
    color:#0062ad;
}

.text-angle {
    display: flex;
    align-items: center;
    color: #50e6ff;
    font-family: 'cereal-two';
}
.text-angle:hover{
    color: #0062ad;
}

.text-angle i {
    margin-right: 11px;
}


.promise-text {
    font-size: 16px;
    margin: 24px 0px 16px;
    padding: 8px 0px 16px;
    font-family: 'cereal-two';
    transform: translateY(1px);
}

.h2-text h2 {
    font-size: 19px;
    margin: 0px 0px 8px;
    line-height: 1.2;
}

.h2-text {
    padding: 0px 12px;

}

.text-main-card-big {
    padding: 24px 0px;
}

.main-cards {
    padding-inline: 12px;
}

.first-card-whole {

    margin: 0px 0px 24px;

}

.first-card {
    overflow: hidden;
    border-radius: 8px;
    /* box-shadow: 2px 4px 5px rgba(0, 0, 0,0.2); */
    box-shadow: 0 0.1875rem 0.4375rem 0 rgb(0 0 0 / 13%), 0 0.0625rem 0.125rem 0 rgb(0 0 0 / 11%);
}

.text-main-card {
    padding: 0px 24px;
}

.text-main-card h3 {
    margin: 0px 0px 8px;
    padding: 24px 0px 0px;
    line-height: 1.2;
}

.text-main-card a {
    color: #0067b8;
}

.text-main-card span {
    color: #0067b8;
    font-size: 18px;
    font-family: 'cereal-two';
    line-height: 0.2;
}

.text-main-card p {

    font-size: 16px;
    font-family: 'cereal';
    line-height: 1.5;
}

.second-cards ul li {

    margin: 0px 0px 24px;
    overflow: hidden;
    border-radius: 8px;
    /* box-shadow: 2px 4px 5px rgba(0, 0, 0,0.2); */
    box-shadow: 0 0.1875rem 0.4375rem 0 rgb(0 0 0 / 13%), 0 0.0625rem 0.125rem 0 rgb(0 0 0 / 11%);
}
.second-cards ul li:hover{
    box-shadow: 0 0 11px rgba(15, 15, 15, 0.2); 
}

.first-above-card {
    display: flex;
    align-items: center;

}
.first-above-card:hover{
    cursor: pointer;
   
}

.first-above-card img {
    width: 99px;
    transform: translateX(9px);

}

.second-card-texts {
    padding: 24px;
}

.second-card-texts a {
    color: #0067b8;
}

.second-card-texts span {
    color: #0067b8;
    font-size: 18px;
    font-family: 'cereal-two';
    line-height: 0.2;
}

.second-card-texts p {

    font-size: 16px;
    font-family: 'cereal';
    line-height: 1.5;
    margin-top: 6px;
}

.second-below-card {
    display: flex;
    align-items: center;
}

.second-below-card img {
    width: 99px;
    transform: translateX(9px);

}

/* new to azure */
.main-new-azure {
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-azure-section {
    padding: 16px 24px;
    font-size: 16px;
    font-family: 'cereal';
}

a.overview-btn {
    padding: 8px 12px;
    color: #0078d4;
    text-decoration: none;
    /* border-color: currentColor; */
    border: 2px solid currentColor;
    width: 100%;
    font-family: 'cereal-two';
}

.new-azure-contents a span {
    /* font-weight: 600; */
    font-family: 'cereal-two'
}

a.overview-btn:hover {
    background-color: rgb(182, 218, 228);
}

/* start putting ideas */

.ideas-text-main-two {
    margin-top: 53px;
    margin-bottom: 13px;
}

.section-text-one {
    padding: 24px 0px;
}

.ideas-text-content {
    padding-left: 12px;
    padding-right: 12px;
}

.ideas-text-content h2 {
    font-family: 'cereal-two';
    font-size: 19px;
    margin: 0px 0px 8px;
    line-height: 1.2;
}

/* services */
.main-services {
    padding: 0px 12px;
}

.feature-list {
    display: flex;
    gap: 10px;
    overflow: scroll;
    border-bottom: 1px solid #000000;

}

.feature-list::-webkit-scrollbar {
    display: none;

}

.feature-list a {
    text-decoration: none;
    font-family: 'cereal-two';
    color: #505050;
    padding: 8px 24px;
    font-size: 16px;


}

.feature-list a:hover {
    background-color: #dddd;
    color: #000000
}

.feature-list a:nth-child(1) {
    color: #0078d4;
    padding: 8px 24px;
    border-bottom: 3px solid #0078d4;

}

.feature-list a:nth-child(2) {
    white-space: nowrap;
}

.feature-list a:nth-child(5) {
    white-space: nowrap;
}

.feature-list a:nth-child(6) {
    white-space: nowrap;
}

.services-cards-main {
    margin-top: 3rem;
    padding: 0px 12px;
}

.service-one {
    border-radius: 8px;
    box-shadow: 0 0.1875rem 0.4375rem 0 rgb(0 0 0 / 13%), 0 0.0625rem 0.125rem 0 rgb(0 0 0 /11%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}
.service-one:hover{
    box-shadow: 0 0 11px rgba(14, 13, 13, 0.2); 
}

.service-one-img {
    padding: 1.5rem 1.5rem 0 1.5rem;
}

.service-one-img img {
    width: 36px;
    height: 36px;


}

.service-one-text {
    padding: 24px 24px 0px;
}

.service-one-text p {
    font-size: 16px;
    font-family: 'cereal';
}

.service-one-link {
    padding: 1rem 1.5rem 1.5rem 1.5rem;
}

.service-one-link a {
    color: #0067b8;
    /* text-decoration: none; */
    font-family: 'cereal-two';
}

.see-all-prodcts {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}

.section-drag {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.section-drag-content a {
    text-decoration: none;
    font-size: 16px;
    margin: 8px 0px;
    padding: 0px 27px 0px 0px;
    color: #0067b8;
    font-family: 'cereal-two';

}
.section-drag-content a:hover{
    text-decoration: underline;
}

.section-drag-content a span {
    font-size: 16px;
    color: #0067b8;
    font-family: 'cereal-two';
}

.section-drag-content a i {
    line-height: 1.2;
    transform: translateY(2px);
}

.innovation-text-main {
    margin-top: 30px;
}

.innovation-text-two {
    margin-top: 10px;
}

.innovation-text {
    padding: 24px 0px;
}

.innovation-text-content {
    padding: 0px 12px;
}

.innovation-text-content h2 {
    margin: 0px 0px 8px;
    font-size: 19px;
    font-family: 'cereal-two';
    line-height: 1.2;
}

.images-overflow-main {
    margin-left: 1px;
}

.images-overflow-main ul {
    display: flex;
    /* justify-content: center; */
    /* justify-content: space-between; */
    overflow: scroll;
    list-style-type: none;

}

.images-overflow-main ul li img {
    width: 61px;

    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);

    /* height: 50px; */
}
.images-overflow-main ul li img:hover{
    cursor: pointer;
    border: 3px solid #0078d4;
    border-radius: 10px;
    padding: 3px;
}

.images-overflow-main ul li {
    margin: 0px 24px 0px 3px;
}

.nba img {
    width: 20px;
}

.nhs img {
    border: 3px solid #0078d4;
    border-radius: 10px;
    padding: 3px;


}

.images-list .nhs img {
    -webkit-filter: grayscale(0%)
}

.images-list .nba img {
    height: 40%;
}

.nhs-hospital-image img {
    width: 100%;
}

.nhs-text-main {
    padding: 48px 12px;
    background: #000000;
    margin-top: -5px;
}

.nhs-text-main h3 {
    font-size: 18px;
    color: #ffffff;
    font-family: 'cereal-two';
    margin: 0px 0px 8px;
    line-height: 1.2;
}

.nhs-text-main a {
    color: #50e6ff;
    text-decoration: none;
    font-family: 'cereal-two';
    padding: 0px 27px 0px 0px;
    margin: 8px 0px;
}

.nhs-text-main a span {
    color: #50e6ff;
    font-size: 16px;
}

.nhs-text-main a i {
    /* transform: translateY(3px); */
    margin-left: 3px;
}

.migration-image img {
    width: 100%;
}

.images-list::-webkit-scrollbar {
    display: none;
}

.migration-img-text-main {
    padding: 0px 0px 48px;
}

.migration-img-text {
    /* padding: 0px 0px 48px; */
    background-color: #f8f9fa;
}

.migration-text-link {
    font-size: 16px;
    font-family: 'cereal';
    padding: 24px;
}

.migration-text-link h2 {
    font-size: 24px;
    font-family: 'cereal-two';
    margin: 0px 0px 21px;
    line-height: 1.2;

}

.migration-image img {
    margin-top: 14px;
}

#explore-help a {
    font-size: 16px;
    /* margin: 8px 0px; */
    padding: 8px 12px;
    text-decoration: none;
    border: 2px solid #0078d4;
}
#explore-help a:hover{
    background-color: rgb(182, 218, 228);
}

#explore-help a span {
    color: #0078d4;
    font-family: 'cereal-two';
}

/* discover */
.discover-head-cards {

    padding: 0px 12px;

}

.discover-cards {
    padding: 0px 12px;

}

.each-card {
    box-shadow: 0 0.1875rem 0.4375rem 0 rgb(0 0 0 / 11%), 0 0.0625rem 0.125rem 0 rgb(0 0 0 / 16%);
    margin: 0px 0px 48px;

}

/* .discover-cards-section{
    padding: 0px 12px;
} */
.discover-cards-section img {
    width: 100%;
}

.discover-head {
    padding: 24px 0px;
}

.discover-head h2 {
    font-size: 19px;
    margin: 0px 0px 8px;
    font-family: 'cereal-two';
    line-height: 1.2;

}

.discover-texts {
    padding: 24px 24px 0px;
    font-size: 16px;
    font-family: 'cereal';
}

.card-footer {
    padding: 16px 24px 24px;
}

.discover-texts h3 {
    text-transform: uppercase;
    font-size: 14px;
    margin: 0px 0px 8px;
    font-family: 'cereal';
    font-weight: inherit;

}

.discover-texts p {
    line-height: 1.5;
    margin: 0px 0px 16px;
}

.learn-more a {
    margin: 8px 0px;
    padding: 0px 27px 0px 0px;
    color: #0067b8;
    text-decoration: none;
    font-family: 'cereal-two';
}
.learn-more a:hover{
    text-decoration: underline;
}

.learn-more i {
    margin-left: 6px;
}

.developer-story-img img {
    width: 100%;
}

.developer-story-main {
    margin-bottom: 21px;
}

.story-texts-links-main {
    padding: 0px 12px;
    font-size: 16px;
    font-family: 'cereal-two';
    background: #000000;
    color: #ffffff;
    margin-block-start: -5px;
}

.story-texts-links {
    padding: 48px 0px;
}

.story-texts-links h2 {
    margin: 0px 0px 8px;
    font-size: 19px;
    font-family: 'cereal-two';
    line-height: 1.2;
}

.watch-story {
    margin: 25px 24px 16px 0px;


}

.watch-story a {
    color: #ffffff;
    background-color: #0078d4;
    padding: 10px 12px 10px 35px;
    text-align: center;
    text-decoration: none;
    position: relative;
    border-radius: 2px;
}

.watch-story a i {
    font-size: 9px;
    position: absolute;
    top: 13px;
    left: 13px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    padding: 2px 2px;

}

.check-story {
    padding: 16px 27px 8px 0px;
    margin-top: 12px;

}

.check-story a {
    color: #ffffff;
    text-decoration: none;
}
.check-story a:hover{
    text-decoration: underline;
}

.check-story a i {
    margin-left: 9px;
}

.azure-ads-main {
    margin-top: 25px;
}

.three-ads-img {
    padding: 24px 24px 0px;
}

.three-ads-img img {
    width: 48px;
    height: 48px;
}

.azure-ads {
    padding: 0px 12px;
}

.three-ads {
    margin: 0px 0px 48px;
    border: none;
    border-radius: 9px;
    color: #ffffff;


}

.three-ads-one {
    background-color: #243a5e;
}

.three-ads-texts {
    padding: 24px 24px 34px;
}

.three-ads-texts h2 a {
    color: #ffffff;
    font-size: 18px;
    font-family: 'cereal-two';

}

.three-ads-texts p {
    font-size: 16px;
    font-family: 'cereal';
    line-height: 1.5;
}

.ads-footer {
    padding: 12px;
}

.three-ads-two {
    background-color: #000000;
}

.three-ads-three {
    background-color: #0062ad;
}

/* footer */
#azure-footer {
    font-size: 12px;
    padding: 48px 0px 36px;
    background-color: #f4f5f6;
}

.azure-footer-top-contens {
    display: flex;
    /* align-items: center; */
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0px 18px;
}

.azure-footer-top-contens a span img {
    width: 24px;
    height: 24px;
}

.azure-footer-top-contens .get-mobile-app {
    background-color: #eaebec;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    text-decoration: none;
    width: 224px;
}

.get-mobile-app span:nth-child(2) {
    font-size: 14px;
    margin: 0px 0px 0px 12px;
    color: #4c4c51;
    font-family: 'cereal-two';
}
.get-mobile-app span:nth-child(2):hover{
    text-decoration: underline;
}

.azure-footer-top-contens ul {
    list-style-type: none;
    display: flex;
    margin: 12px 0px 0px 12px;
    color: #1a1a1f;

}

.icon {
    padding-right: 26px;
}

.footer-second-part {
    font-size: 12px;
    margin: 36px 0px 0px;
    padding: 0px 18px;
}

.informations {
    margin-top: 36px;

}

.informations button {
    font-size: 14px;
    background-color: #eaebec;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    color: #1a1a1f;
    font-family: 'cereal-two';
    width: 100%;
    display: flex;

    justify-content: space-between;

}

.informations button::after {
    content: '+';

    font-size: 17px;
}

.informations ul {
    display: none;
}

.footer-last-part {
    margin: 36px 0px 0px;
    padding: 0px 18px;
}

.languages label {
    font-size: 16px;

    font-family: 'cereal';
}

.languages select {
    padding: 7px;
    width: 227px;
    font-size: 14px;
    font-family: 'cereal';
    margin-top: 6px;
    border: 1px solid #686879;
    background: #ffffff;
    color: #1a1a1f;
    padding-left: 5px;

}

.footer-list {
    margin-top: 36px;
    display: flex;
    align-items: flex-start;

}

.footer-list ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

}

.footer-list ul li {
    margin-bottom: 17px;
}
.footer-list ul li:hover{
    text-decoration: underline;

}

.footer-list ul li span {
    padding-left: 12px;
    font-family: 'cereal-two';
}

.footer-list ul li a {
    text-decoration: none;
    color: #1a1a1f;
    padding: 2px 0px;
    font-size: 12px;
    font-family: 'cereal';
    margin: 0px 0px 12px 16px;
    padding: 2px 0px;

}
.chat-with-sales i{
    font-size: 15px;
}
.chat-with-sales a{
    position: fixed;
    bottom: -5px;
    right:18px;
    text-decoration: none;
    font-size: 16px;
    font-family: 'cereal-two';
    background: #0067b8;
    padding: 11px 13px 14px 13px;
    color: #ffffff;
    border-radius: 8px;
}
.chat-with-sales a span{
    font-size: 16px;
    font-family: 'cereal-two';
}
@media screen and (min-width:390px) {
   .languages{
    display: flex;
    flex-direction: column;
   }
}


@media screen and (min-width:392px) {
    .azure-footer-top-contens {
        flex-direction: row;
    }
}

@media screen and (min-width:426px) {
    .images-overflow-main ul {
        justify-content: center;
    }
}

@media screen and (min-width:540px) {
    .azure-footer-top-contens ul {
        margin-left: 36px;
    }

}

/* Tablet styles */
@media screen and (min-width:768px) {

    .wrapper,
    .laptop-wrapper {
        display: none;

    }

    .tablet-wrapper {
        display: block;

    }

    nav header .header-one {
        padding-right: 0;
        padding-left:12px;
        display: flex;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
     



    }

    .text-icon {
        display: flex;
        align-items: center;
        transform: translate(-1px, -1px);


    }

    .text-icon img {
        width: 25px;
        transform: translate(1px, 1px);

    }

    .text-icon h3 {
        font-family: 'cereal-two';
        font-size: 18px;
        transform: translateY(0);
        margin: 0px 0px 0px 12px;

    }

    .header-list {
        display: flex;
        justify-content: flex-start;
    }

    .items-list ul {
        display: flex;        
        margin-left: 9px;
        margin-top: -11px;

    }

    .items-list a {
        text-decoration: none;
        color: #1a1a1f;
        font-family: cereal;

    }

    .list-items li {
        list-style-type: none;
        font-size: 13px;
        margin-top: 9px;
        transform: translate(1px, 2px);
        padding: 12px 8px;

    }

    .list-items li i {

        font-size: 8px;
        margin-top: 5px;
        font-size: 8px;
        margin-left: 4px;

    }

    .search-signin .dots {
        width: 25px;
        transform: translate(21px, 0px);


    }

    .search-signin .search-icon {
        opacity: 0.4;
        transform: translate(23px, 0px);
    }

    .search-signin {
        display: flex;
        transform: translate(-1px, -1px);
        margin-right: 0;
    }



    .search-signin h4 {
        font-weight: lighter;
        padding: 20px 11px;
        font-size: 13px;
    }

    .story-texts-links {
        /* display: flex; */
        position: relative;
    }

    .check-story {
        position: absolute;
        top: 90px;
        left: 233px
    }
   .languages select{
    width:187px
   }
   .icon{
    padding-right: 25px;
   }
   .azure-footer-top-contens .get-mobile-app {
    width:221px
   }



}

@media screen and (min-width:860px) {
    .first-img {
        display: block;
    }

    section .landing {
        padding: 48px 48px 61px 48px;
    }

    section .main {
        margin-top: -5px;
    }

    .text-angle {
        display: flex;
        justify-content: center;
    }

    .foot-link a span {

        padding: 0px 9px 0px 0px;

    }  

    .items-list ul {
     
        margin-top: -14px;
        margin-left: 9px;
    }
    .search-signin h4{
        padding: 20px 13px;
    }
    .search-signin img{
        width: 14px;
    }

    .h2-text {
        text-align: center;

    }

    section .main-img {
        margin-top: -7px;
        
    }

    .link-group {
        transform: translate(-1px, -3px);
    }

    .search-signin {
        transform: translateY(-4px);
    }

    /* cards */
    .main-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 25px;
    }

    .first-card-whole {
        width: 100%;
        display: flex;
        justify-content: end;
        flex-direction: column;

    }

    .first-card-whole {
        background-image: url('/assets/image/card1.avif');
        background-size: cover;
        background-position: center;
        border-radius: 9px;
        /* background-attachment: fixed; */


    }

    .first-card .card-img img {
        display: none;
    }

    .second-card-texts {
        margin: 4px -12px 0px 23px;
    }

    .first-above-card {

        box-shadow: 0 0.1875rem 0.4375rem 0 rgb(0 0 0 / 0%), 0 0.0625rem 0.125rem 0 rgb(0 0 0 / 11%);
    }

    .feature-list {
        display: flex;
        flex-direction: column;
        border-bottom: none;
    }

    .main-section-both {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .services-cards-main {

        display: grid;
        column-gap: 40px;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: -16px;
    }

    .service-one {
        height: 77%;
    }

    .git-azure {
        padding: 4rem 1.5rem 1rem 1.5rem;
    }

    .service-one-text {
        padding: 24px 22px 0px;
    }

    .git-azure span {
        white-space: nowrap;
    }

    .service-one-text p {
        line-height: 1.5;
    }

    .azure-app span {
        white-space: nowrap;
    }

    .azure-devop {
        padding: 1.2rem 1.5rem 1rem 1.5rem;
    }

    .azure-sql {
        padding: 1.2rem 1.5rem 1rem 1.5rem;
    }

    .azure-app {
        padding: 6rem 1.5rem 1rem 1.5rem;
    }

    .azure-virtual {
        padding: 3rem 1.5rem 1rem 1.5rem;
    }

    .azure-vm {
        padding: 2rem 1.5rem 1rem 1.5rem;
    }

    .services-cards-main {
        column-gap: 24px;
        width: 81%;
    }

    .service-one {
        height: 92%;
    }

    .service-one-img {
        padding: 0.5rem 1.5rem 0 1.5rem;
    }

    .feature-list a {
        margin: 0px 0px 16px;
    }

    .feature-list {
        width: 100%;
    }

    .feature-list a:nth-child(1) {
        border-bottom: none;
        border-left: 0.25rem solid #0078d4;

    }

    .feature-list a:nth-child(2) {

        width: 98%;
        white-space: normal;
    }

    .feature-list a:nth-child(5) {

        width: 68%;
        white-space: normal;
    }

    .feature-list a:nth-of-type(6) {
        white-space: normal;

    }

    .section-drag-content {
        text-align: center;
    }

    .innovation-text-main {
        text-align: center;
    }

    .images-overflow-main ul li img {
        width: 130px;
    }

    .images-list .nba img {
        height: 20%;
    }

    .images-overflow-main ul {
        gap: 13px
    }

    .hospital-image-text {
        position: relative;
    }

    .nhs-text-main {
        margin-left: 10px;
        margin-right: 10px;
        padding: 48px;
        /* margin-top: -10px; */
        position: absolute;
        top: 266px;


    }

    .images-overflow-main ul li {
        height: 159px;
    }

    .images-list .nba img {
        height: 36%;
    }

    .migration-img-text {
        display: flex;
        align-items: center;
        margin-block-start: 134px;
    }

    .migration-text-link {
        padding: 48px;
        margin-inline-start: -79px;
    }

    .migration-image img {
        width: 87%;
    }

    .discover-cards-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 24px;
        row-gap: 0px;
    }

    .discover-head h2 {
        text-align: center;
    }

    .story-texts-links-main {
        margin-inline: 12px;

    }

    .developer-story {
        position: relative;
    }

    .story-texts-links-main {

        position: absolute;
        top: 376px
    }

    .story-texts-links {
        padding: 48px;
    }

    .check-story {
        left: 276px;
    }

    .ad-azure {
        display: flex;
        gap: 24px;
        margin-block-start: 190px;
    }

    .three-ads {
        width: 32%;
    }


}

@media screen and (min-width:900px) {
    .ad-azure {

        margin-block-start: 174px;
    }
}

@media screen and (min-width:940px) {
    .ad-azure {

        margin-block-start: 174px;
    }
}
@media screen and (min-width:960px) {
    .footer-second-part{
        display: none;
    }
    .footer-last-part{
        display: flex;
        gap:115px;
        justify-content: space-between;
    }
    
}


@media screen and (min-width:961px) {

    .informations button {
        background-color: #f4f5f6;

        padding: 0px 24px 0px 0px;
        white-space: nowrap;

    }

    .footer-second-part {
        max-width: 1600px;
        display: flex;
        column-gap: 38px;
        justify-content: space-between;
        margin: 0;
    }

    .informations button::after {
        content: '';
    }

    .sol-support-main {
        width: 12%;
        white-space: normal;
    }

    /* .sol-support{
    white-space: unset;
    width: 112px;
} */

    button.sol-support {
        white-space: unset;
        width: 112px;
        text-align: start;
    }

    .informations ul {
        display: block;
        list-style-type: none;
        font-size: 12px;
        margin: 12px 0px 0px;
    }

    .informations ul li {
        margin-bottom: 17px;
    }

    .informations ul li a {
        text-decoration: none;
        font-size: 12px;
        padding: 2px 0px;
        font-family: 'cereal';
        color: #1a1a1f;

    }

    .resources-btn ul {
        width: 118px;
    }



}




@media screen and (min-width:970px) {
    .ad-azure {

        margin-block-start: 151px;
    }
}

@media screen and (min-width:977px) {
    .text-wrap {
        white-space: nowrap;
    }
}

@media screen and (min-width:999px) {
    button.sol-support {
        white-space: nowrap;

    }
}

@media screen and (min-width:1014px) {
    .ad-azure {

        margin-block-start: 125px;
    }
}

@media screen and (min-width:1080px) {
    .tablet-wrapper {
        display: none;
    }

    .laptop-wrapper {
        display: block;

    }

    .first-img {
        margin-top: 7px;
    }

    .header-list {
        display: flex;
        justify-content: flex-start;
       
    }
    nav header .header-one{
        height: 60px;
    }
   

    

    .text-icon h3 {
        margin: 0px 0px 0px 24px;
        color: #1a1a1f;
        transform: translate(1px, 1px);

    }

    .list-items li {
        margin-top: 0;
        padding: 20px 8px;
    }

    .items-list ul {
       
        margin-top: -3px;
        margin-left: 23px;
    }

    .right-navbar ul {
        display: flex;
        padding: 8px;
        align-items: center;
        transform: translateX(17px);

    }

    .right-navbar a {
        text-decoration: none;
        color: #1a1a1f;
        font-family: cereal;
    }

    .right-navbar-ul li {
        list-style-type: none;
        font-size: 13px;
        padding: 8px;
    }

    ul .button {
        background-color: #89c402;
        border: 1px solid #6f9e02;
        color: #1a1a1f;
        display: inline-block;
        font-family: 'cereal-two';
        font-size: 12px;
        font-weight: 600;
        padding: 9px;
        line-height: 1;
        text-align: center;
        border-radius: 4px;
        /* margin: 0px 6px; */
        width: 65px;
        transform: translate(0px, -1px);

    }

    form input {
        background-color: #f8f9fa;
        border-radius: 4px;
        border-color: #747479;
        width: 122px;
        padding: 1px 24px 1px 12px;
        border: 1px solid #747479;
        font-family: 'cereal';
        padding-left: 12px;
        min-height: 32px;
        transform: translate(4px, -1px);


    }

    .searchbar {
        position: relative;

    }

    .searchbar img {

        width: 14px;
        font-family: 'cereal-two';
        margin-right: 28px;
        opacity: 0.5;
        position: absolute;
        top: 8px;
        left: 100px;


    }

    ul .laptop-signin {
        transform: translateX(10px);

    }

    .right-search {
        display: flex;
        align-items: center;
        transform: translate(1px, 1px);
        justify-content: space-around;

    }
}

@media screen and (min-width:1081px) {

    .contact-sale {
        width: 66px;
        text-align: center;
    }

    .sign-in-down {
        width: 42px;
        text-align: center;
    }




}

@media screen and (min-width:1084px) {
    ul .button {
        width: 86px;
    }

    .main-img {
        display: none;

    }

    .text-icon {
        transform: translate(-2px, 1px);
    }

    .text-icon img {
        transform: translate(2px, 2px);
        width: 24px;
    }

    .text-icon h3 {
        transform: translate(2px, 1px);
    }

    .items-list ul {
      margin-top: 1px;
    }

    .list-items li i {

        transform: translate(0px, 0px);
        font-size: 8px;
        margin: 5px 0px 0px 4px;

    }

    ul .button {
        font-family: 'cereal-two';
        transform: translate(7px, 1px);

    }

    .sign-in-down {
        transform: translate(1px, 2px);
    }

    .contact-sale {
        transform: translate(-3px, 2px);
    }

    .support {
        transform: translate(-15px, 2px);
    }

    .right-search {
        transform: translate(-6px, 1px);
    }

    .contact-sale {
        width: 66px;
        text-align: center;
        line-height: 0.9;
    }

    .sign-in-down {
        width: 42px;
        text-align: center;
        margin: 10px;
        line-height: 0.9;
    }

    section .main {
        background-image: url('/assets/image/landing.avif');
        background-size: cover;
        background-repeat: no-repeat;
        /* background-position-x: -181px; */
        height: 478px;
        object-fit: cover;


    }

    .first-img {
        background-attachment: fixed;

    }

    .intro-text h1 {
        width: 47%;
        font-size: 37px;
        margin-block-start: 20px;
        transform: translate(1px, 0px);
    }

    .intro-text p {
        width: 54%;
        margin-top: 20px;
        margin-left: 1px;
    }

    section .landing {
        padding: 0px 0px;

    }

    .full-content {

        padding: 97px 94px 68px 89px;
        height: 450px;

        /* margin: 30px 30px; */
    }

    .learn {

        transform: translate(-15px, 2px);

    }

    form input {
        transform: translate(0px, 1px);

    }

    .searchbar img {
        top: 10px;
        left: 94px;

    }

    .list-items li i {
        width: 5px;
    }

    section .full-content .head-text {
        transform: translate(1px, 1px);
    }

    section a.btn-primary {
        padding: 9px 14px 10px 14px;
        transform: translateX(2px);
    }

    .link-group {
        transform: translateY(-2px);
    }

    .btn-second span {
        margin-left: 1px;
    }

    .promise-text {
        margin: 50px 0px 16px;

    }

    .h2-text h2 {
        font-size: 21px;
    }

    ul li:first-child i {
        margin-left: 2px;
    }

    /* cards */
    .main-cards {
        padding-left: 5%;
        padding-right: 5%;
    }

    .second-card-texts {

        padding: 48px;
    }

    .second-card-texts span {
        font-size: 19px;

    }

    .text-main-card span {
        font-size: 19px;
    }

    .text-main-card {
        padding: 0px 30px;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    /* start putting ideas */
    .ideas-text-main-one {
        padding-left: 4%;
        padding-right: 5%;
        width: 65%;
    }

    .ideas-text-content {
        padding-left: 12px;
        padding-right: 12px;
    }

    .ideas-text-content h2 {
        font-size: 21px;
    }

    .main-services {
        padding: 0 5%;

    }

    .feature-list a:nth-child(2) {
        white-space: nowrap;
    }

    .feature-list a:nth-child(5) {
        white-space: nowrap;
    }

    .feature-list a:nth-child(6) {
        white-space: nowrap;
    }

    .services-cards-main {
        padding-left: 7%;
        padding-right: 3%;
    }

    .service-one {
        height: 84%;
    }

    .git-azure {
        padding: 3rem 1.5rem 1rem 1.5rem;
    }

    .git-img {
        padding-top: 12px;
    }

    /* .azure-devop{
        padding: 1.2rem 1.5rem 1rem 1.5rem;
    }
    .azure-sql{
        padding: 1.2rem 1.5rem 1rem 1.5rem;
    }
    .azure-app{
        padding: 3rem 1.5rem 1rem 1.5rem;
    }
    .azure-virtual{
        padding:3rem 1.5rem 1rem 1.5rem;
    }
    .azure-vm{
        padding:2rem 1.5rem 1rem 1.5rem;
    } */
    .azure-virtual {
        padding: 1rem 1.5rem 1rem 1.5rem;
    }

    .azure-app {
        padding: 4rem 1.5rem 1rem 1.5rem;
    }

    .azure-vm {
        padding: 1rem 1.5rem 1rem 1.5rem;
    }

    .service-one-text {
        padding: 24px 29px 0px;
    }

    .section-drag-content a i {
        transform: translateY(2px);

    }

    .nhs-text-main {
        margin-left: 57px;
        top: 34%;
        right: 41%
    }

    .nhs-text-main h3 {
        font-size: 19px;
    }

    .migration-img-text {
        margin-block-start: 0;
        padding-inline: 49px;
        margin-top: -6px;
    }

    .migration-text-link h2 {
        font-size: 29px;
    }

    .migration-text-link h2 {
        width: 83%;
    }

    .discover-head h2 {
        font-size: 21px;
    }

    .discover-head-cards {
        padding: 0px 50px;
    }

    .discover-cards {
        padding: 0px 50px;
    }

    .story-texts-links-main {
        top: 54px;
        left: 14px;
        right: 440px;
        margin-left: 43px;
    }

    .check-story {
        position: static;
    }

    .story-texts-links h2 {
        font-size: 21px;
    }

    .story-texts-links {
        padding-left: 37px;
    }

    .watch-story a {
        padding-right: 15px;
    }

    .ad-azure {
        margin-block-start: 64px;
    }

    .azure-ads {
        padding: 0px 5%;
    }

    .three-ads-texts h2 a {
        font-size: 19px;
    }


}

@media screen and (min-width:1093px) {
    ul li .button {
        width: 100%;

    }

    section a.btn-second {
        padding: 7px 12px 8px 12px;
    }

}

@media screen and (min-width:1153px) {
    .check-story {
        position: absolute;
        top: 120px;
    }

    .story-texts-links-main {
        right: 467px;
    }

}

@media screen and (min-width:1389px) {
    .check-story {

        top: 97px;
    }
}



@media screen and (min-width:1400px) {
    .intro-text h1 {
        width: 35%;
        font-size: 50px;
    }

    .full-content {
        padding-left: 105px;
    }

    .intro-text p {
        width: 37%;
        margin-top: 23px;
    }

    section .main {
        height: 595px;
        background-position: 49%;
    }

    .contact-sale {
        white-space: nowrap;
        margin-right: 14px;


    }

    .sign-in-down {
        white-space: nowrap;
    }

    nav header .header-one {
        margin-top: -7px;
    }

    h1.head-text {
        margin-bottom: 9px;
    }

    section .full-content .head-text {
        transform: translate(2px, -4px);
    }

    .h2-text h2 {
        font-size: 24px;
    }

    .second-card-texts span {
        font-size: 21px;
    }

    .text-main-card span {
        font-size: 21px;
    }

    .ideas-text-content h2 {
        font-size: 24px
    }

    .nhs-text-main {
        top: 50%;
        right: 41%;
    }

    .migration-text-link h2 {
        font-size: 37px;
        margin: 0px 0px 25px;
    }

    .discover-head h2 {
        font-size: 24px;
    }

    .discover-head-cards {
        padding: 0px 5%;
    }

    .discover-cards {
        padding: 0px 5%;
    }

    .story-texts-links h2 {
        font-size: 24px;
    }

    .check-story {
        position: absolute;
        top: 132px;
    }

    .story-texts-links-main {
        right: 484px;
    }

    .footer-second-part {
        padding-right: 83px;
    }

    .three-ads-texts h2 a {
        font-size: 21px;
    }

}
@media screen and (min-width:1440px){
    .footer-list ul{
        margin-left: 235px;
    }
    .text-wraps{
        width: 188px;
    }
}


@media screen and (min-width:1495px) {
    .text-wraps {
        white-space: nowrap;
    }
}

@media screen and (min-width:1600px) {
    .check-story {
        position: absolute;
        top: 105px;
    }

    .footer-second-part {
        padding-right: 104px;
    }

    #azure-footer {
        padding-left: 15px;
    }
}
@media screen and (min-width:1625px){
    nav header .header-one{
        padding-left: 26px;
    }
}

@media screen and (min-width:1629px) {
    .second-card-texts {
        padding: 66px;
    }

    .main-cards {
        padding: 0px 5.5%;
    }

}

@media screen and (min-width:1700px) {
    nav header .header-one {
        max-width: 1600px;
        margin: 0px 200px;
    }

    .full-content {
        margin-left: 91px;

        /* transform: translate(7px,5px); */
    }

    section .main {
        height: 624px;

    }

    nav header .header-one {
        margin-inline: auto;
        margin-top: -4px;

    }

    .intro-text p {
        width: 36%;
        margin-top: 23px;
    }

    .main-cards {
        padding: 0px 8%;
    }

    .second-card-texts {
        padding: 66px;
    }

    .ideas-text-content h2 {
        font-size: 28px
    }

    .nhs-text-main {

        top: 70%;
        right: 34%;
        margin-left: 7%;
        padding: 30px;
    }

    /* .nhs-text-main h3{
        font-size: 14px;
    }  */
    .feature-list a span {
        font-size: 12px;
        margin-left: 30px;
    }

    .discover-head-cards {
        padding: 0px 7%;
    }

    .discover-cards {
        padding: 0px 6%;
    }

    .discover-head h2 {
        font-size: 21px;
    }

    .azure-ads {
        padding: 0px 8%;
    }

    .footer-second-part {
        margin-top: -10px;
    }

    #azure-footer {
        padding-left: 143px;
        padding-right: 196px;
    }

}